h1{
    color: red;
}
p{
    color: blue;
}
.name{
    height: 70vh;
    text-align: center;
    background-color: black;
}
.table{
    border-collapse: collapse;
    border: 1px solid #b50b0b;
    width: 50%;
    text-align: left;
    padding: 2px;
}